<div class="footer">
    <div>
        <p>
            En footer med lite text.
            <i class="far fa-github"></i>
            <i class="fa fa-github" aria-hidden="true"></i>
            <i class="fa fa-gitlab" aria-hidden="true"></i>
            <i class="fa fa-gitter" aria-hidden="true"></i>
        </p>
    </div>
    <div class="social">
        <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
        {% for social in pages["_meta"].meta.social %}
        <a href="{{ social.url }}" title="{{ social.title }}" role="button">
            <i class="fa fa-{{ social.icon }}" aria-hidden="true"></i>
            <span class="sr-only">{{ social.title }}</span>
        </a>
        {% endfor %}
    </div>
    <div class="test">HEEEEEEEEEEEEEEEJ</div>
    <i class="fa fa-camera-retro"></i> fa-camera-retro
    <i class="fa fa-camera-retro fa-5x"></i> fa-5x

</div>

<script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
